@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,500;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: #080808;
    color: #fff;
}
/* .....................HEADER....................... */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    font-weight: bolder;
    border-radius: 3px;   
    padding: 5px 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav img{
   height: 50px;
   padding: 0 100px;
}
nav ul{
    padding: 0 50px;
}
.header-text{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    padding: 0 100px;
    margin-top: 140px;
}
.header-text p{
    font-size: 18px;
}
.header-text h1 span{
    color: #ff004f;
}
nav ul li a:hover{
        background-color: #ff004f;
        transform: .5s;
}
/* ...................ABOUT.................. */
#about{
    padding:  80px;
    color: ;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.about-col1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col2{;
    flex-basis: 60%;
}
.sub-tittle{
    font-size: px;
    font-weight: 600;
    color: rgb(236, 234, 234)
}
.sub-tittle span{
    color: #ff004f;
}
.tab-tittles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-weight: 500;
    cursor: pointer;
}
.tab-contents span{
    color: #ff004f;
    font-size: 14px;
}
.tab-tittles p{
    padding: 5px 10px ;
    font-weight: bolder;
    border-radius: 3px;
    font-size: 18px;
}
/* ...........................SERVICES.......................... */
/* 
#services{
    padding: 0 80px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-text{

} */

/* ...............................PORTFOLIO.............................. */

/* #portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work-list{
    
} */

